<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Events</title>
    <!-- Mobile Specific Meta
            ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
		================================================== -->
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/events.css">
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/img/backgrounds/favicon.png">

    <link rel="stylesheet" href="stylesheets/particle.css">

    <script>
        /*window.onload = photoction () {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            document.getElementById('loading').style.display = 'none';
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        }*/
    </script>

</head>

<body>
    <div id="particles-js"></div>
    <!--
	    Start Preloader
	    ==================================== -->
    <div id="preloader">
        <div class="preloader">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>
    <!--
            End Preloader
            ==================================== -->

    <!--
        Navbar
        ==================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/">XTASY 2K18</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-text active current"><a href="/events">Events</a></li>
                    <li class="nav-text"><a href="/gallery">Gallery</a></li>
                    <li class="nav-text"><a href="/team">Team</a></li>
                    <li class="nav-text"><a href="/profile">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-text"><a href="/login">Login / Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div><br/><br/><br/></div>
    <!-- Page title -->
    <div class="title text-center">
        <h2><span class="color" id="element">Events</span></h2>
        <div class="border"></div>
    </div>

    <!-- Filters -->
    <div class="portfolio-filter" style="z-index: 4;">
        <button type="button" data-filter="all" id="element">All</button>
        <button type="button" data-filter=".technical" id="element">Technical</button>
        <button type="button" data-filter=".cultural" id="element">Cultural</button>
        <button type="button" data-filter=".management" id="element">Management</button>
        <button type="button" data-filter=".photo" id="element">Photofactory</button>
        <button type="button" data-filter=".extravaganza" id="element">Cultural Extravaganza</button>
    </div>



    <div class="row portfolio-items-wrapper">


        <!--Overdrive -->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event1.jpg" class="image">
            <div class="overlay" id="myBtn1">
                <div class="text">
                    <h2><u>OVERDRIVE</u></h2>
                    <p>War of Bands</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>OVERDRIVE</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>OVERDRIVE is a competition between all the bands out there to show their Rock & Roll and Metal show to get the crowd hyped.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> Prelims will be online.</li>
                                <li> All participants Bands have to send their performance song or a jamming session video or the youtube link of the video.</li>
                                <li> Top performing team will be selected for finale.</li>
                            </ol>
                            <h3><u>FINALE</u></h3>
                            <ol>
                                <li> This round will happen during the fest at college.</li>
                                <li> Band size: At least three persons and a maximum of eight people and maximum of eight people on the stage at any point of time.</li>
                                <li> Participating bands have to bring their own music instruments, however a Basic Drum set will be provided.</li>
                                <li> Bands will be given 25 minutes- Amps on to Amps off.</li>
                                <li> Maximum 3 songs are allowed including one of their original composition.</li>
                                <li> Judges decision will be final and binding.</li>
                                <li> All rules are subject to change at the discretion of the coordinators.</li>
                            </ol>

                            <h3><u>TIME</u></h3>
                            <p>9 AM to 3 PM</p>
                            <h3><u>VENUE</u></h3>
                            <p>The Stage</p>
                            <h3><u>CONTACT</u></h3>
                            <p>Jyotirmaya- 9692546640</p>
                            <p>Ronit- 7205627159</p>
                            <p>Rajan- 7381802201</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Proove Your Move-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event2.jpg" class="image">
            <div class="overlay" id="myBtn2">
                <div class="text">
                    <h2><u>PROVE YOUR MOVE</u></h2>
                    <p>Group dance</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>PROVE YOUR MOVE</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>PYM has been one of the most respected group dancing events of the whole state due to its non –biased and liberal judgement . The event has no barriers for styles you perform. The judgement is done based on choreography, innovation,
                                skill set, innovation and group coordination.</p>
                            <p>We provide a platform to all dancers to come down for a meet with the judge so that they can discuss what were the faults they had due to which they could not make it to the top.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> Limit for number of dance members = 25</li>
                                <li> Total duration of performance (from your getting on the stage till you get off)- 6-10 mins</li>
                                <li> Live instrument music is not allowed.</li>
                                <li> Fire is not allowed.</li>
                                <li> Competitors should report before 1 hour of the competition.</li>
                                <li> Groups have to carry their own props, last minute requirements may not be entertained.</li>
                                <li> All dance forms are allowed.</li>
                                <li> No nuisance or communalism or racism would be tolerated as the conceptualization of the performing art.</li>
                                <li> Songs should be brought in pen-drive and should be submitted to the organizers before 1 hour of the competition. </li>
                                <li> Groups if found involved in kind of ill acts like fighting ,drinking alcohol or smoking, or any other indiscipline act can be disqualified by the organizing members without any questions.</li>
                            </ol>
                            <h3><u>PRIZES</u></h3>
                            <p> 1ST - RS. 10,000</p>
                            <p> 2ND - RS. 6,000 </p>
                            <p> 3RD - RS. 3,000</p>
                            <h3><u>TIME</u></h3>
                            <p>5:00 pm – 8:00 pm</p>
                            <h3><u>VENUE</u></h3>
                            <p>Stage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pukaar-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event3.jpg" class="image">
            <div class="overlay" id="myBtn3">
                <div class="text">
                    <h2><u>PUKAAR</u></h2>
                    <p>Street Play Competition</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>PUKAAR</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>Street plays have been the medium of the voice of people from time out of mind. There are innumerable social issues floating around the globe. PUKAAR gives you a platform to raise your voices and make a statement; after all
                                it is the place where intense drama meets social awareness.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> This is a team event and will take place in 1 round. The participating teams have to present a street play on any theme.</li>
                                <li> Teams are expected to perform at an open air venue.</li>
                                <li> Time limit shall be 15 minutes.</li>
                                <li> In case of violation of the time limit, participating teams will be penalized by the judges.</li>
                                <li> Approximate time for the event is 4hrs.</li>
                                <li> Only live music is allowed. Teams will have to bring their own instruments.</li>
                                <li> The participating teams are requested to ensure that their presentation is in keeping with the dignity of the fest.</li>
                                <li> The judges’ decision will be final and binding.</li>
                            </ol>
                            <h3><u>VENUE</u></h3>
                            <p>Infront of architecture building.</p>
                            <h3><u>CONTACT</u></h3>
                            <p>KV Sriram Prasad : 8658458545</p>
                            <p>Sreekhetra Mohanty : 8093324752</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Burnout-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/burnout.gif" class="image">
            <div class="overlay" id="myBtn4">
                <div class="text">
                    <h2><u>BURNOUT</u></h2>
                    <p>dance battle and dance community felicitation</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal4" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>BURNOUT</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>Burnout has been one of the most crowd pulling event of XTASY since this has begun its appearance in the fest. Street dancers across the state travel for spread of culture as this is a platform that evaluates actual skills
                                without any costume and makeup, pure showcase of art and knowledge of Street dancing.</p>
                            <p>This time its going to be a duo battle which would turn into solo finals. We wait for the street stars to show up their skills on dj’s beats.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> Participants should reach near the given location before one hour and register their names.</li>
                                <li> Participants are not allowed to demand for change of song.</li>
                                <li> Participants if found involved in kind of ill acts like fighting ,drinking alcohol or smoking, or any other indiscipline act can be disqualified by the organizing members without any questions.</li>
                            </ol>
                            <h3><u>PRIZES</u></h3>
                            <p>1ST - RS. 10,000</p>
                            <p> 2ND - RS. 6,000 </p>
                            <h3><u>TIME</u></h3>
                            <p>5:00 pm – 8:00 pm</p>
                            <h3><u>VENUE</u></h3>
                            <p>Basket ball court</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GOONJ-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event4.jpg" class="image">
            <div class="overlay" id="myBtn5">
                <div class="text">
                    <h2><u>GOONJ</u></h2>
                    <p>Solo Singing Competition</p>     
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal5" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>GOONJ</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>GOONJ is a solo singing competition for all the singers out there to show their singing talent to the world by competing in a fair musical fight. </p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> Two categories- Eastern & Western.</li>
                                <li> Time Limit- 3 Minutes (Max).</li>
                                <li> Singer can be accompanied by only 1 musical instrument.</li>
                                <li> Karaoke not allowed.</li>
                                <li> Song must not contain obscene words.</li>
                            </ol>
                            <p>[It has two levels that are Intra college & Inter college. Intra college competition will be held before Xtasy& Inter college competition will be held during Xtasy.]</p>

                            <h3><u>TIME</u></h3>
                            <p>9 AM to 2 PM</p>
                            <h3><u>VENUE</u></h3>
                            <p>Orientation Hall</p>
                            <h3><u>CONTACT</u></h3>
                            <p>Rajan- 7381802201</p>
                            <p>Amrita- 9438126067</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DANCING FEET -->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event4.jpg" class="image">
            <div class="overlay" id="myBtn6">
                <div class="text">
                    <h2><u>DANCING FEET </u></h2>
                    <p>Solo and duet dance</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>DANCING FEET </h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>DF by far has witnessed most insane solo and duet dancing talents of Odisha. The dancers participate with a freedom to showcase their thought through their motion. The words of their feet are heard by audience and the judges,
                                whose response show the actual result of the event.</p>
                            <p>After the competition ends there is a orientation session with the judges so that the participants can be guided for the future and the participants would not repeat their mistakes in the post competitions.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> Total duration of performance (from your getting on the stage till you get off)- 2-5 mins</li>
                                <li> Live instrument music is not allowed.</li>
                                <li> Fire is not allowed.</li>
                                <li> Competitors should report before 1 hour of the competition.</li>
                                <li> Participants have to carry their own props, last minute requirements may not be entertained.</li>
                                <li> All dance forms are allowed.</li>
                                <li> No nuisance or communalism or racism would be tolerated as the conceptualization of the performing art.</li>
                                <li> Songs should be brought in pen-drive and should be submitted to the organizers before 1 hour of the competition. </li>
                                <li> Participants if found involved in kind of ill acts like fighting ,drinking alcohol or smoking, or any other indiscipline act can be disqualified by the organizing members without any questions.</li>
                            </ol>

                            <h3><u>PRIZEs</u></h3>
                            <p>1ST - RS. 5,000</p>
                            <p>2ND - RS. 3,000</p>
                            <p>3RD - RS. 1,500</p>
                            <h3><u>TIME</u></h3>
                            <p>1pm – 5 pm</p>
                            <h3><u>VENUE</u></h3>
                            <p>Orientation hall</p>
                            <p>Or</p>
                            <p>D- 402(if stage and chairs could be arranged)</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--THE CHOSEN ONE-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event5.jpg" class="image">
            <div class="overlay" id="myBtn7">
                <div class="text">
                    <h2><u>THE CHOSEN ONE</u></h2>
                    <p>Mono Act Competition</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal7" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>THE CHOSEN ONE</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>Acting is specific mode of fiction represented in performance. It is loud and larger than life exchange of ideologies, energy, emotions and the roar of audience. Acting is a form of religion is deeply rooted in the Indian tradition.
                                THE CHOSEN ONE gives you the opportunity to showcase your talent to the world.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> This is an individual event and will take place in 1 round. The participants have to present a mono act on any theme.</li>
                                <li> Language of the act can be English/Hindi. Mime is also allowed.</li>
                                <li> Total time allotted for every performance is 5 minutes.</li>
                                <li> Participants can bring their own music for the act in a pen drive.</li>
                                <li> Approximate time for the event is 4 hours.</li>
                                <li> The participating teams are requested to ensure that their presentation is in keeping with the dignity of the fest.</li>
                                <li> The judges’ decision will be final and binding.</li>
                            </ol>
                            <h3><u>VENUE</u></h3>
                            <p>Orientation hall (A-201)</p>
                            <h3><u>CONTACT</u></h3>
                            <p>KV Sriram Prasad : 8658458545</p>
                            <p>Sreekhetra Mohanty : 8093324752</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--SALSA WORKSHOP-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event6.jpg" class="image">
            <div class="overlay" id="myBtn8">
                <div class="text">
                    <h2><u>SALSA WORKSHOP</u></h2>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal8" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>SALSA WORKSHOP</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>The most awaited workshop of the whole year, which has the largest participation of the youngsters. The only house full workshop of the whole fest. Certified professionals share their knowledge and teach the partnered couples
                                set of basic moves that would help them jiggle their shoulders and tap their feet on a salsa beat. </p>

                            <h3><u>TIME</u></h3>
                            <p>2:00 PM – 5:00 PM</p>
                            <h3><u>VENUE</u></h3>
                            <p>D 402</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--REFLEX-->
        <div class="mix col-md-4 cultural container">
            <img src="images/events/event7.jpg" class="image">
            <div class="overlay" id="myBtn9">
                <div class="text">
                    <h2><u>REFLEX</u></h2>
                    <p>Extempore Acting Competition</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal9" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>REFLEX</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                            <h3><u>ABOUT</u></h3>
                            <p>Extempore acting gets created then and there. It is an on-the-spot event. Doing acts in a short span of time is where you will be showcasing the confidence and the capacity to articulate, think, and project yourself. REFLEX
                                allows you think out of the box and off the feet.</p>
                            <h3><u>RULES</u></h3>
                            <ol>
                                <li> This is a group event, with at least 2 participants and at most 6 participants in a team. </li>
                                <li> The teams have to perform an act based on the topic given on the spot.</li>
                                <li> Minimum time limit is 5 minutes and maximum 10 minutes. (Stage entry to stage exit).</li>
                                <li> Approximate time for the event is 4hrs. </li>
                                <li> The participating teams are requested to ensure that their presentation is in keeping with the dignity of the fest.</li>
                                <li> The judges’ decision will be final and binding.</li>
                            </ol>
                            <h3><u>VENUE</u></h3>
                            <p>Orientation hall (A-201)</p>
                            <h3><u>CONTACT</u></h3>
                            <p>Swabhiman Dalei: 8328844392</p>
                            <p>Arman Mishra: 7008100478</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="glyphicon glyphicon-plus"></span>


    </div>

    <!-- 
		Essential Scripts
		=====================================-->

    <!-- Main jQuery -->
    <script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slick Carousel -->
    <script type="text/javascript" src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Portfolio Filtering -->
    <script type="text/javascript" src="plugins/mixitup/dist/mixitup.min.js"></script>
    <!-- Smooth Scroll -->
    <script type="text/javascript" src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>

    <!-- Magnific popup -->
    <script type="text/javascript" src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

    <!-- Sticky Nav -->
    <script type="text/javascript" src="plugins/Sticky/jquery.sticky.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script type="text/javascript" src="javascripts/events.js"></script>
    <!--Background Animation-->
    <script src='plugins/particles.min.js'></script>
    <script src="javascripts/particle.js"></script>

</body>

</html>