<!DOCTYPE html>
<html style="background-color:#353b43;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Xtasy-2k18</title>
    <!-- Mobile Specific Meta
              ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
      ================================================== -->
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/img/backgrounds/favicon.png">
    <style>
        body {
            width: 45%;
            height: 38%;
            margin: auto;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 20px;
            border-radius: 15px;
        }
        
        label {
            padding: 15px 15px 0px 0px;
        }
        
        .color {
            color: #6aaaff;
            font-weight: bold;
            font-family: 'Philosopher', sans-serif;
        }
        
        @media (max-width: 768px) {
            body {
                width: 100%;
                height: 250px;
                border-radius: 0px;
            }
        }
    </style>
    <%- include ../partials/_head %>
</head>

<body>
    <div>
        <h2><span class="color">Xtasy 2k18</span></h2>
        <hr>
        <form id="forgot" action="/api/forgot" method="post" class="form-inline">
            <label for="forgot">Enter Email Id:</label>
            <input id="emailid" type="email" placeholder="Enter your Email Id" name="emailid" class="form-control" required>
            <br><br>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</body>

</html>