<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include ../partials/_head %>
  </head>
  <body>
    <h1>Reset Your password</h1>
    <form id="passwordreset">
      <label for="new password">New password:</label>
      <input id="pass" type="password" placeholder="Enter new password" name="password" required>
      <button type="submit">Submit</button>
    </form>
<script type="text/javascript">
var mail = <%- JSON.stringify(mail) %> ;// To be changed
console.log(mail);


$("#passwordreset").submit(function() {
  console.log("form submitted")
  var info = {
    "emailid" : mail,
    "password" : $("#pass").val()
  }

  $.post('/api/change', info, function (data, status)
  {
    alert(data.msg)
  });
  console.log(info);
  return false;
})
</script>
  </body>
</html>
